$labelSmallSize: 12px;
$marginGroup: $labelSmallSize + 8px;
$inputPadding: 8px;
$inputFontSize: 15px;
$inputHeight: $inputFontSize + $inputPadding * 2 + 6px;
.winput-group {
    position: relative;
    padding-top: $marginGroup;
    padding-bottom: 5px;
    width: 100%;

    > input {
        font-size: $inputFontSize;
        height: $inputHeight;
        line-height: $inputHeight - $inputPadding * 2;
        padding: $inputPadding;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #757575;
        background-color: #f6f6f6;
        &:focus {
            outline: none;
            border-color: transparent;
        }
    }
    > label {
        position: absolute;
        left: $inputPadding;
        pointer-events: none;
    }
    > label.focus {
        color: rebeccapurple;
    }
    > .bar {
        height: 4px;
        position: absolute;
        bottom: 5px;
        width: 0;
        background-color: rebeccapurple;
    }
    > .bar.invalid {
        background-color: red;
    }
}

.winput-group-other-lg {
    position: relative;
    margin-top: 25px;
    margin-bottom: 5px;
    width: 100%;
    > label {
        position: absolute;
        left: 8px;
        top: -18px;
        font-size: 12px;
        pointer-events: none;
        opacity: 0.97;
    }
}

.winput-group-other {
    position: relative;
    padding-top: $marginGroup;
    padding-bottom: 5px;
    width: 100%;

    > label {
        position: absolute;
        left: 8px;
        top: 2px;
        font-size: $labelSmallSize;
        pointer-events: none;
        opacity: 0.97;
    }
    > .bar {
        height: 0;
        position: absolute;
        bottom: 5px;
        width: 100%;
        background-color: rebeccapurple;
    }
    > *:not(label):not(.bar) {
        width: 100%;
        background-color: #f6f6f6;
        border: none;
        border-bottom: 1px solid #757575;
        &:not(textarea){
            height: $inputHeight;
        }
        position: relative;
        &:focus {
            outline: none;
            border-color: transparent;
        }
        &:focus ~ label {
            color: rebeccapurple;
        }
        &:focus ~ .bar {
            height: 4px;
        }
    }
}
