.table-view {
    margin: 10px 5px;
    table img:not([class]) {
        width: 30px;
        height: 30px;
        border-radius: 99999px;
        box-shadow: 0px 3px 12px #888;
        object-fit: cover;
    }
    table img.no-round{
        height: 30px;
        box-shadow: 0px 2px 7px #888;
        object-fit: cover;
    }
    .table-control {
        .input-group {
            width: fit-content !important;
        }
        .offset-info{
            border-bottom: 2px solid #555;
            border-image-slice: 1;
            border-image-source: linear-gradient(to left, #00C853, #B2FF59);
        }
    }
}
