@import "../../css-animation.scss";
#login-form {
    max-width: 500px;
    width: 100;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px 1px #aaa;
}
.spin {
    animation-name: spin;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.status-login {
    margin: 10px 2px;
    .spin {
        animation-duration: 0.5s;
    }
}
.loading-text::after {
    content: '';
    animation-name: loading-text;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loading-text {
    0% {
        content: ' .'
    }
    33% {
        content: ' ..'
    }
    66% {
        content: ' ...'
    }
    100% {
        content: ' ....'
    }
}